
body{
    padding: 10px;
    margin: 100px auto 100px  auto;
    width: 400px;
    height: 600px;
    border-radius: 25px; 
    border: 5px solid rgba(53, 37, 112, 0.822);
    background-image: linear-gradient(to bottom, rgba(235, 116, 18, 0.623), rgb(71, 49, 151));
    box-shadow: 10px 10px rgba(219, 75, 56, 0.486);
    text-align: right;
    
}
#button_1{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor:pointer;
    outline: none;
    color: #fff;
    background-image:linear-gradient(to bottom, rgb(216, 112, 112), rgba(63, 52, 218, 0.74));
    height: 100%;
    width:  100%;
    box-shadow:0 5px #999;
    border-radius: 15px;
    border: 2px solid rgb(95, 18, 18);
    
}

#button_1:hover{
    background-color: #3e8e41;
}

#button_1:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    /* transform: scaleY(1.5); */
    transform: translateY(5px);

}

#screen{
    overflow: auto;
    border-radius: 15px;  
    max-width: 300px;
    height: 115px;
    padding:10px;
    margin: 20px;
    font-size: 34px;
    font:Digital-7;
    box-shadow: 10px 10px rgba(112, 92, 148, 0.377);
    background-color: rgba(235, 75, 101, 0.596);
    border: 3px solid rgba(71, 73, 70, 0.733);
}
table {
    /* border: 1px solid red; */
    margin: auto;
    width: 100%;
    height:100%;
}
td{
    /* overflow: auto; */
    padding: 0;
    margin: auto;
    padding: 2px;
    /* border: 2px solid rgba(11, 11, 12, 0.856); */
    width: 84px;
    height: 84px;
}  



